* {
    box-sizing: border-box;
  }
  :root {
    --header-height: 80px;
    --footer-height: 50px
  }
body { 
    margin: 0;
    background-color: #141414; 
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
    color: white;
    position: relative;
    /* background-image: url(assets/platziteam3D.png); */
      }
  .body--login {
    overflow: hidden;
    height: 100vh;
  }
  .header {
    background-color: #141414;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header.header--login {
    background-color : transparent;
  }
  .header__img {
    width: 200px;
    margin-top: 10px;
  }
  .header__menu {
    margin-right: 20px;
    width: 200px;
  /*   border: 1px solid blue; */
  }
  .header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 200px;
    text-align: center;
    margin: 0;
    
  /*   border: 1px solid green; */
  }
  .header__menu:hover ul, ul:hover {
    display: block;
  }
  .header__menu li {
  /*   margin: 10px 0; */
    border-bottom: 1px solid white;
    padding: 10px 0;
    background-color:rgba(0,0,0, 0.3);
  }
  .header__menu li.menu-space {
    background-color: transparent;
  }
  .header__menu li a {
    color: white;
    text-decoration: none;
  }
  .header__menu li a:hover {
    text-decoration: underline;
  } 
  
  .header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  .header__menu--profile img {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .header__menu--profile p {
    margin: 0;
    color: white;
  }
  .main {
    height: 300px;
  }
  .main__title {
    color: white;
    font-size: 25px;
  }
  .search__input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 70%;
    outline: none;
    caret-color: white;
  }
  .search__input::placeholder {
    color: white;
  }
  
  .search {
    text-align: center;
    margin: 0 auto;
  }
  .logo {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 7px;
    left:7px;
  }
  .carousel {
  /*   display: none; */
    width: 100%;
    height: auto;
    overflow-x: scroll;
  /*   margin: 30px; */
    position: relative;
  }
  .carousel__container {
    white-space: nowrap;
    margin: 140px 30px 0;
    padding-bottom: 10px;
  }
  .carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
  /*   background-color: palevioletred; */
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    transition: 450ms all;
    transform-origin: bottom left;
    position: relative;
    color: white;
  }
  .carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }
  .carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
  }
  .carousel-item__details--title {
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
  }
  .carousel-item__details--subtitle {
    margin-top: 3px;
  }
  .carousel-item__details--subtitle span.duration {
    border: 1px solid white;
    padding: 1px 2px;
  }
  .carousel-item__details--subtitle span.progress {
    color: #3CB459;
    font-size: 11px;
    font-weight: bold;
  }
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
  }
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  .carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
  /* .carousel__container:hover .carousel-item:hover  */
  
  .carousel__container:hover .carousel-item:hover .controls {
    display: flex;
  }
  .controls {
    display: none;
    margin-bottom: 10px;
  }
  .icon {
    border: 1px solid white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  .play {
    background-color: white;
    margin-right: 7px;
  }
  .play:hover {
     background-color: #ffffffb3;
     border: 1px solid #ffffffb3;
  }
  .plus {
    background-color: transparent;
  }
  .plus:hover {
   background-color: #ffffff12;
  }
  .icon__svg {
     height: 24px;;
  }
  .login {
      display: flex;
      align-items: center;
      justify-content: center;
      color: grey;
      padding: 30px 0;
      min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
  .login__container {
      background-color: rgba(0, 0, 0, 0.75);
      /* border: 2px solid white; */
      border-radius: 5px;
      padding: 30px 30px 0px;
      /* box-shadow: rgba(200,200,200,0.1) 0 0 20px 5px; */
      width: 430px;
  }
  /* .login__container .input {
      width: 100%;
  } */
  .login__container .form {
      display: flex;
  }
  .login__title {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .login__input {
    background-color: #333;
    color: white;
    caret-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .login__input::placeholder {
    color: grey;
  }
  
  .login-button {
    background-color: #e50914;
    width: 100%;
    min-height: 50px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
    
  }
  .background-collage {
    position: absolute;
    top: -200px;
    bottom: 0;
    left: -500px;
    right: 0;
    width: 200%;
    height: 200%;
    z-index: -10;
    transform: rotateX(-20deg) rotateY(-40deg) perspective(600px);
    /* transform: translate3d(-20px, 4em, 10px); */
    /* border: 1px solid red; */
  }
  .background-collage__filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(5, 5, 5, 0.7);
    z-index: 0;
  }
  .background-collage img {
    width: 100%;
    height: 100%;
  }
  .login-footer {
    text-align: center;
    height: calc(var(--footer-height) - 10px);
    line-height: calc(var(--footer-height) - 10px);
    background-color: rgba(0, 0, 0, 0.75);
  }
  a {
    text-decoration: none;
  }
  .login a {
    color: white;
  }
  .login-footer a {
    color: grey;
  }
  .login__container--register {
    font-size: 18px;
    margin-top: 40px;
  }
  .login__container--social-media {
    margin-top: 15px;
  }
  .login__container--social-media img {
    height: 16px;
    /* margin-top: 10px; */
    position: relative;
    top: 2px;
  }
  .login__container--remember-me {
    display: flex;
    justify-content:space-between;
  }
  #remember-me {
    opacity: 0;
  }
  #remember-me+label {
      position: relative;
  }
  #remember-me+label::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 2px;
    background-color: #737373;
    border-radius: 2px;
    border: 0;
    height: 16px;
    width: 16px;
  }
  #remember-me+label::after {
    content: '\2714';
    font-weight: bolder;
    position: absolute;
    display: none;
    left: -22px;
    top: -1px;
    color: black;
    height: 16px;
    width: 16px;
  }
  #remember-me:checked+label::after {
    display: block;
  }
  .not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80);
  }
  .not-found__filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(114, 2, 2, 0.445);
    z-index: 1;
  }
  .not-found img {
    height: 400px;
  }
  .not-found img, .not-found h1 {
    z-index: 2;
  }
  @media only screen and (max-width: 660px) {
    .login__container {
      background-color: transparent;
      border: none;
      width: 100%;
    }
    .background-collage {
      display: none;
    }
  }